body {
  font-family: 'Roboto Slab', serif;
  padding-top: 1.5rem;
}

.container {
  max-width: 60rem;
}

.error {
  font-weight: bold;
  color: #bf360c;
}

.success {
  font-weight: bold;
}

#apiKey {
  min-height: 12rem;
}

.footer p {
  display: inline-block;
  padding-left: 1rem;
}